name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  RUN_MODE: production
  PROJECT_ID: ${{ secrets.PROJECT_ID }}
  CARGO_TERM_COLOR: always
  DOCKER_USER: ${{ secrets.DOCKER_USER }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
  GOOGLE_SERVICE_ACCOUNT_KEY: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_KEY}}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Build
      run: cargo build --verbose

    - name: Run tests
      run: cargo test --verbose

  push-images:
    runs-on: ubuntu-latest
    needs: build
    if: success()

    steps:
    - uses: actions/checkout@v4

    - name: Create secrets directory
      run: mkdir -p ./secrets

    - name: Copy service account JSON
      run: echo "${{ secrets.GOOGLE_SERVICE_ACCOUNT_KEY }}" > ./secrets/service-account.json

    - name: Cache Docker layers
      uses: actions/cache@v3
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-docker-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-docker-

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ env.DOCKER_USER }}
        password: ${{ env.DOCKER_PASSWORD }}

    - name: Push
      run: |
        IMAGE_TAG="ivanenkomak/rust-short-url:latest"
        DOCKERFILE="Dockerfile"
        echo "Building Docker image with timestamp tag: ${IMAGE_TAG}"
        docker buildx build -t "${IMAGE_TAG}" --file "${DOCKERFILE}" . --push

  deploy-to-cloud-run:
    runs-on: ubuntu-latest
    needs: push-images
    if: true
    steps:
    # Authenticate with Google Cloud
    - name: Authenticate with Google Cloud
      uses: google-github-actions/auth@v1
      with:
        credentials_json: ${{ env.GOOGLE_SERVICE_ACCOUNT_KEY }}

    # Install Google Cloud SDK
    - name: Set up Google Cloud SDK
      uses: google-github-actions/setup-gcloud@v1
      with:
        project_id: ${{ env.PROJECT_ID }}

    # Deploy to Cloud Run
    - name: Deploy server to Cloud Run
      run: |
        gcloud run deploy rust-short-url \
          --image ivanenkomak/rust-short-url:latest \
          --platform managed \
          --region europe-central2 \
          --allow-unauthenticated \
          --set-env-vars "RUN_MODE=${{ env.RUN_MODE }},PROJECT_ID=${{ env.PROJECT_ID }}"
